*{
	margin:0;
	padding:0;
}
.left-part h2{
	font-size:#fff;

}
body{
	background:#000000;
	background-size:cover;


}
.header-area {
    background: #fff;
    color: #fff;
   padding-bottom:7px;
   padding-top:7px;
   border-bottom:3px solid #1B1F29;

}

.right-parts h3 {
    color: #fff;
    /* font-weight: bold; */
    margin-top: 27px;
    text-align: right;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.head h2{
	color:#2C4C61;
}
.second-right-part p{
	font-size:18px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#contact {
    background: #0871B5;
    padding: 10px 20px 15px 20px;

    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 23px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 23px 10px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 23px 10px rgba(0,0,0,0.75);
}
#contact h3 {
    color: #fff;
    display: block;
    font-size: 34px;
   font-weight:bold;
    /* padding-bottom: 10px; */
    margin-top: 7px;
}
#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 17px;
    color: #000;
    line-height: 17px;
	padding-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}


#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #01B500;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
   border:none;
    border-radius: 4px;
    font-size: 25px;
	border-bottom:6px solid #038024;
	outline:none;
	border-radius:5px;
	font-family: 'Patua One', cursive;

}
#contact button[type="submit"]:hover {
    background: #01B500;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5) }
#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}
::-webkit-input-placeholder { color: #888 }
:-moz-placeholder { color: #888 }
::-moz-placeholder { color: #888 }
:-ms-input-placeholder { color: #888 }
.overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    background: rgba(0,0,0,0.5);
}


.btn-success {
    color: #fff;
    background-color: #446A7D;
    border-color: #446A7D;
	transition:0.5s;
}
.btn-success:hover {
    color: #fff;
    background-color: #2C4C61;
    border-color: #2C4C61;
	padding:13px 50px;
}
.right-content-part h3 {
    color: #fff;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
.control-area{
	padding-top:25px;
	padding-bottom:25px;
	background:url(img/symphony.html);
	margin-top:-35px;
}
.contact-parts{

	padding-bottom:25px;
	background:url(img/symphony.html);
}
.control-area-two{
	background:url(img/symphony.html);
}
.panels-area{
	margin-top:70px;
}
.panel-image{
	margin-top:70px;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #446A7D;

}
.panel-body p{
	font-size:16px;
	margin-top:7px;
}

.btn {
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:red;
    border: 1px solid transparent;
    border-radius: 4px;
	color:#fff;
}




.customer-area {
    padding-top: 50px;
    padding-bottom: 50px;
	background:url(img/symphony.html);
}
.customer img {
    width: 200px;
    height: 110px;
}
.buyer {
    font-size: 18px;
    color: #00AAE8;
}
.footer-area {
    background: #446A7D;
    padding: 13px 0px;
}
.fa-facebook {
   width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
   border:1px solid #666666;
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    margin: 4px 3px;
}


.fa-google-plus {
    width: 40px;
    height: 40px;
    background: #557F93;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    margin: 4px 3px;
}

.fa-twitter{

    background: transparent;
    color: #fff;

    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    margin: 4px 3px;
}
.fa-linkedin {

    background: transparent;
    color: #fff;

    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    margin: 4px 3px;
}
.fa-linkedin:hover {


    color: #0083BE;

    font-size: 16px;
    text-align: center;
    padding-top: 12px;

}
.fa-twitter:hover {

    color: #55ACEE;
}
.fa-facebook { -webkit-transition: 0.3s; transition: 0.3s }
.fa-facebook:hover {
    background: #3B5998;
    color: #fff;
}
.fa-phone{
	color:#D77D3A;
}
.fa-google-plus { -webkit-transition: 0.3s; transition: 0.3s }
.fa-google-plus:hover {
    background: #C61414;
    color: #fff;
}
.fa-linkedin { -webkit-transition: 0.3s; transition: 0.3s }

.left-content-parts p {
    color: #fff;
    font-size: 16px;
    padding-top: 15px;
    font-family: 'Indie Flower', cursive;
}
.right-content-part h2{
	color:#fff;
	border-bottom:2px dotted #fff;
	width:60%;
}
.right-content-parts{
	margin-top:50px;
}
.right-content-parts h1 {
    font-size: 35px;
    padding-bottom: 10px;
	text-transform:uppercase;
}
.right-content-parts p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    /* line-height: 35px; */
    padding-top: 15px;
    color: #fff;
    padding-bottom: 10px;
}
.right-content-parts h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;

	line-height:50px;
}
.right-content-parts {

}
.right-content-parts h3 {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    line-height: 53px;
}
.right-parts img{
margin:0 auto;
padding-top:25px;
}
.second-parts{
	padding-top:80px;
	padding-bottom:50px;
	background:url(img/symphony.html);
	background-repeat:repeat;
	margin-top:-20px;
}
.second-right-part{

}
.top-info{
	background:#2F3439;
}
.second-right-part h3{
	text-transform: uppercase;
    font-weight: bold;
    color: #FF9966;
    font-family: 'Roboto Slab', serif;
	padding-top:50px;
}

.footer-logo{
	background:#446A7D;
}
.footers{
	background:#222222;
	color:#fff;
	font-size:17px;
}
.left_tat_part p {
    font-size: 16px;
    font-weight: bold;
    font-family: italic;
    line-height: 28px;
}
.fb1 {
    font-size: 19px;
    background: #F6DC1C;
    color: #fff;
    padding: 6px 20px;
    margin: 5px;
}
.left_tat_part h4 {
    font-size: 27px;
    padding-top: 25px;
    font-family: italic;
}
.for_margin{
	margin-top:20px;
}
.how{
	font-size:20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #000;

    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.inner_footer p{
	font-family: 'Open Sans', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
}
.secure {
    color: #fff;
    padding-top: 4px;
    text-align: center;
	  font-family: 'Open Sans', sans-serif;
	  font-size:17px;
}
.Car{
	font-size:60px;
	font-weight:bold;
	color:#FFD800;
}

.ins{
	color:#FFD800;

}
.left-part h3 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}
.right-parts h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}
.extra {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;

    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-weight: none;
}
.sec_submit{
	font-size:20px;
	float:right;
	padding:10px 40px;
	background:#64C390;
	color:#fff;
	border:none;
	outline:0;
	font-family: 'Open Sans', sans-serif;

}
.top_area{
	padding-top:30px;
	padding-bottom:70px;
}
.first_left_form{

}
.first_left_form h3{
	font-weight:bold;
	font-size:18px;
	padding-bottom:15px;
}
.request h1{
	font-weight:bold;
	font-size:30px;
}
.request p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.requests{
	color:#178AAE;
}
.social_icon h4{
	font-family: 'Open Sans', sans-serif;
}
.fast_part{
	background:#01AC66;
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
}
.power_part{
	background:#FFFFFF;
	padding-top:30px;
	padding-bottom:30px;
	color:#fff;
}
.power_parts{
	padding-bottom:60px;
}
.inner_fast_part h2{
	font-weight:bold;

}
.inner_fast_part h4{
	font-weight:bold;
	padding-bottom:15px;
}
.inner_fast_part p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.work_title h2{
	font-weight:bold;
}
.work_title h4{
	font-weight:bold;
	padding-bottom:35px;
}
.single_work h3{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
}
.single_work p{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}
.works_part{
	padding-top:30px;

	background:url(../img/pattern.html) repeat;
}
.works_parts{

	padding-bottom:50px;
	background:url(../img/pattern.html) repeat;
}
.right_power_c p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.inner_testimonial p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.testimonial_part{
	padding-top:30px;
	padding-bottom:30px;
}
.fa-star{
	color:#FD3716;
	font-size:18px;
}
.inner_testimonial h4{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}
.right_socials p {

    margin-top: 12px !important;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.main_footer{
	background:#222222;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}
.left-part img{
	margin-top:17px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2192B2;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 17px;
    /* margin-top: 12px; */
}
.navbar-nav > li {

    margin-top: 20px;
}
.feauture_part {
    padding-top: 30px;
	background:url(../img/nice-Patterncream_pixels.png) repeat;

}
.feauture_parts{
	padding-bottom:40px;
}
.feature_title h3{
	font-weight:bold;
	padding-bottom:20px;
	color:#6EC32D;
}
.single_feature p{
	font-size:17px;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px;
}
.cont2{
	font-weight:bold;
	font-size:25px;
	color:#B25401;
}
.cont{
font-size:18px;
font-family: 'Open Sans', sans-serif;
}
.price_title h3{
padding-bottom:20px;
}
.cont1{
	font-size:17px;
font-family: 'Open Sans', sans-serif;
}
.Customer h3{
	font-size:19px;
	font-family: 'Open Sans', sans-serif;
	color:#B25401;
}
.step{
	color:#4FAA11;
	font-size:22px;
}
.single_unique img{


}


.mine{
margin-left:150px;
}
.work_title h3{
	color:#4FAA11;
}
.single_unique p{
color:#000;
}
.work_title h3{
	padding-bottom:50px;
	font-weight:bold;
}
.bottom_footer{
	background:#666666;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;

}

.custom_btn{
	font-size:18px;
	background:#4FAA11;
	color:#fff;
}
.middle_footers p{
	font-size:17px;
	font-family: 'Open Sans', sans-serif;
}
.left_socials{
	margin-top:1px;
}
.single_unique img:hover{
	-webkit-box-shadow: 0px 0px 58px 0px rgba(126,126,126,1);
-moz-box-shadow: 0px 0px 58px 0px rgba(126,126,126,1);
box-shadow: 0px 0px 58px 0px rgba(126,126,126,1);
}
.right-content-parts h4{
	font-size:22px;
	font-weight:bold;
}
.inner_testimonial p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}
.testimonial_part{
	padding-top:44px;
	padding-bottom:44px;
	background:#339966;
	color:#fff;
}
.fa-star{
	color:#FD3716;
	font-size:18px;
}
.inner_testimonial h4{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}
.inner_testimonial img{
	border-radius:50%;
}
.long_narrow_contact_part{
	padding-top:55px;
	padding-bottom:40px;
	background:rgba(40,66,62, 0.8);
}
.narrow_btn{
	background:#FD3716;
	color:#fff;
	padding:8px 30px;
	border:none;
	outline:0;
	font-size:18px;
	border-radius:4px;
}
.foreign{
	font-size:21px;
}
.commons{
	padding-left:0px;
	padding-right:0px;
}
.r_common{
	padding-right:0px;
}
.right_part h3 {
    text-align: right;
    /* margin-top: 5px; */
    /* font-family: 'Open Sans', sans-serif; */
    color: #000;
    margin-top: 30px;
    font-weight: bold;
}
.right_part {
    margin-top: 9px;
}
.number{
	font-size:17px;
}
.left_invest_content p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.left_invest_content{
	margin-top:35px;
}
.fa-lock{
	color:#fff;
}
.invest_bold{
	color:#CC9900;
	font-size:50px;
	font-weight:800;
	text-transform:uppercase;
}
.inner_tahnks h1{
	font-size:40px;
	font-weight:800;
	padding-bottom:18px;
	color:#1D9519;
}
.download_btn{
	background:#1D9519;
	font-size:18px;
	color:#fff;
	border:none;
	outline:0;
	padding:10px 30px;
	border-radius:10px;
}
.right_part p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 32px;
}
.top_r_title h1{
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}
.fa-circle{
	font-size:14px;
}
.bolds{
	font-weight:bold;
	color:#D19C00;
}
.middle_footers p{

    margin-top: 12px !important;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.disclaimer{
	font-size:18px;
	color:#04040A;
}
.click_here{
font-weight:bold;
font-size:35px;
font-family: 'Open Sans', sans-serif;
}
.inner_tahnks p{
	font-size:20px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	padding-top:20px;
}
.left_join_part h3{
	font-weight:bold;
	font-size:32px;
	padding-bottom:10px;

}
.left_join_part p{
	font-size:22px;
	font-family: 'Open Sans', sans-serif;
}
.feauture_partss{
	background:#339966;
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
}
.feauture_partsss{
	background:#339966;
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
	border:2px solid #fff;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.left_video{
	margin-top:46px;
}
.left_join_part h4{
	font-family: 'Righteous', cursive;
}
.right_join_part img {
    margin-top: 35px;
}
.footer_top_part{
	background:gray;
	color:#fff;
	padding-top:30px;
	padding-bottom:30px;
}
.footer_top_part p{
	font-size:17px;
	font-family: 'Open Sans', sans-serif;

}
.fa-map-marker{
	font-size:30px!important;
	color:#96360B;
}
.inner_top_footer h4{
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
}
.flag{
	text-align:right;
	margin-top:-7px;
}
.flag img{
	height:30px;

}
.second_form_part{
	background:#252B2B;
	padding-top:10px;
	padding-bottom:10px;

}
.instant_access_btn{
	background:#FF8000;
	font-size:25px;
	color:#fff;
	padding:16px 20px;
	border:none;
	outline:0;
	font-family: 'Open Sans', sans-serif;
	 border-radius: 4px;
}

.instant_access_btn:hover{
	background:#FF8000;
	font-size:25px;
	color:#fff;
	padding:16px 30px;
	border:none;
	outline:0;
	font-family: 'Open Sans', sans-serif;
	 border-radius: 4px;
}
.s_form_title h4{
	padding-bottom:10px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;

}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
a{
	text-decoration:none;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.inner_salexpo h3 {
    font-weight: bold;
    font-size: 32px;
	color:#fff;

}
.inner_salexpo h1{

	padding-bottom:15px;
	padding-top:15px;
	font-size:50px;
	color:#fff;
	font-family: 'Russo One', sans-serif;
}
.inner_salexpo h4{
	font-size:28px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}
.inner_salexpo p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:15px;
	color:#fff;
}


.activate{
	padding-bottom:20px;
}
.bottom_link p{
	font-size:18px;
	padding-top:25px;
	color:#008CFF;
}
a{
	color:#008CFF;
	font-family: 'Open Sans', sans-serif;
}
a:hover{
	color:#008CFF;
	font-family: 'Open Sans', sans-serif;
}
.bottom_coffe_part{
	padding-top:40px;
	padding-bottom:40px;

}
.left_attedee_parts p{
	font-size:18px;
	padding-top:25px;
	padding-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}

.our_brands{
	padding-top:40px;

}
.our_brands2{
	padding-bottom:30px;
}
.brand_bottom_para p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px;
}
.service_titles h3{
	font-weight:bold;
	padding-bottom:18px;
	font-family: 'Patua One', cursive;
}
.single_services h3{
	color:#5D2503;
	font-family: 'Patua One', cursive;
}
.single_services p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.footer_area{
	padding-top:10px;
	padding-bottom:20px;
}
.middle_menu h4{
	font-weight:bold;
	color:#A3B2B4;
}
.right_contact h4{
	font-weight:bold;
	color:#A3B2B4;
}

.middle_menu p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.right_contact p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;

}
.middle_menu{
	margin-top:50px;
}
.right_contact{
	margin-top:50px;
}
a{
	color:#fff;
	text-decoration:none;
}
a:hover{
	color:#fff;
	text-decoration:none;
}
ul li a{
	font-size:20px;
}
.middle_machine_part p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.right_supplies_part p{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;

}
.right_supplies_part{
	padding-top:40px;
}
.right_supplies_part img{

	padding-top:20px;
}

option:first {
    color: #008CFF!important;
}
select {
   color: gray!important;
}
.bottom_coffe_part{
	background:url(../img/nice-Patterncream_pixels.png) repeat;

}
.footer_area{
	background: #412014;
	color:#fff;
}
.office{
	font-size:25px;
}
.bottom_Coffee_part{
	padding-bottom:60px;
	background:#F4F4F4;
}
.left_logo img{
	margin-top:25px!important;
}

#contact p {
    color: #fff;
   padding-bottom:8px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;

}

.single_finance h2{

	font-family: 'Patua One', cursive;
}

.single_finance p{
	font-size:18px!important;
	font-family: 'Open Sans', sans-serif;
}
.single_finance_m h4{
font-family: 'Patua One', cursive;
}
.single_finance_m h5{
	font-size:18px;
	font-weight:bold;
}
.Cus_name h4{
	font-family: 'Patua One', cursive;
}
.r_details h3{
	font-weight:bold;
}

.r_details h3{
	font-family: 'Patua One', cursive;
	font-size:22px;
}
.r_details p{
	font-size:17px;
	font-family: 'Open Sans', sans-serif;
}

.tesimonial_part{
	padding-top:50px;
	padding-bottom:40px;

}

.sss_border{


}
.single_testimonial{
padding:15px;


}

.cus_title h2 {
    padding-bottom: 50px;
    font-family: 'Patua One', cursive;
    font-size: 40px;
}

.client_logo{
	padding-top:30px;
	padding-bottom:30px;
}

.apply_btns{
background:#10699F;
font-size:20px;
padding:10px 30px;
border:none;
outline:0;
font-family: 'Open Sans', sans-serif;
color:#fff;
margin-top:20px;
}

.get_startted_part{
	background:#F2F6F7;
	padding-top:30px;

}
.ready_title h2{

    padding-bottom: 20px;
    font-family: 'Patua One', cursive;
    font-size: 40px;

}
.left_get_started h3 {
    font-family: 'Open Sans', sans-serif;
    line-height: 31px;
}
.left_part h2{
	font-weight:bold;
	margin-top:18px;
}
.right_part p{
text-align:right;
}
.fa-phone-square{
color:#8CC63F;
}

.get_start_btn{
background:#DB7F2D;
font-size:20px;
padding:10px 30px;
color:#fff;
border:none;
outline:0;
}

.left_bk_side h1 {
    color: #fff;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 12px;
    font-size: 35px;
    line-height: 47px;
    text-shadow: 2px 2px #ff0000;
    /* margin-top: -10px; */
}
.left_bk_side h4{
color:#fff;
}
.left_bk_side p {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;

}
.left_bk_side h5{
	color:#fff;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	line-height:29px;
}

.left_bk_side h3 {
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size: 40px;
}


.transparent_box {
    background: rgba(0,0,0,0.6);
    padding: 10px 20px 30px 20px;
}
.about_part{
	padding-top:30px;
	padding-bottom:30px;
}
.about_part{
	padding-top:15px;
	padding-bottom:30px;
	background:#F2F6F7;
}
.left_about h4{
	font-weight:bold;
	font-weight:22px;
	padding-bottom:10px;
	font-family: 'Patua One', cursive;
	font-size:25px;
}
.left_about p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}

.single_speker img{
border-radius:50%;
height:300px;
}

.single_spekers img{
border-radius:50%;
height:200px;
}
.single_speker p{
	font-size:22px;
	padding-top:10px;
	font-family: 'Open Sans', sans-serif;
	color: #510A66;
}

.single_speker h4{
	font-size:22px;
	font-family: 'Patua One', cursive;
	color:#510A66;
}

.single_spekers p{
	font-size:20px;
	padding-top:10px;
	font-family: 'Open Sans', sans-serif;
	color: #510A66;
}

.single_spekers h4{
	font-size:20px;
	font-family: 'Patua One', cursive;
	color:#510A66;
}

.speker_part {
    padding-top: 30px;
    background: url(../img/nice-Patterncream_pixels.png) repeat;
}
.speker_part2{
	padding-bottom:80px;
	 background: url(../img/nice-Patterncream_pixels.png) repeat;
	 padding-top:28px;
}

.speker_title h2{
	font-size:38px;
	font-family: 'Russo One', sans-serif;
	padding-bottom:40px;
	color:#510A66;
}

.left_bk_side h4 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-shadow: 2px 2px #ff0000;
}

.inner_subject p{
font-size:20px;
font-family: 'Open Sans', sans-serif;
}

.subject_part{
	padding-top:50px;
	padding-bottom:60px;
	background:#500A65;
	color:#fff;
}

.register_btn{
	background:#A127FF;
	font-size:20px;
	color:#fff;
	padding:8px 30px;
	border:none;
	font-family: 'Montserrat', sans-serif;
	border-radius:15px;
}

.early_payment_part{
	padding-top:40px;
	padding-bottom:40px;

}

.single_payment_part h4{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}

.single_payment_part h3{
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	color:#EF4B7E;
	font-weight:bold;
}

.single_payment_part p{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;

}

.single_payment_part{
	border:1px solid #E4E4E4;
	padding:10px;

}

.single_payment_part:hover{
	border:1px solid #E4E4E4;
	padding:10px;
	-webkit-box-shadow: 0px 7px 59px -5px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 7px 59px -5px rgba(0,0,0,0.76);
box-shadow: 0px 7px 59px -5px rgba(0,0,0,0.76);

}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #000;
}

.fa-check{
	color:#EF4B7E;
}

.single_pack p{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	padding-top:5px;
	color:#613C41;
}

.single_pack h4{
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
}

.pack_part{
	padding-top:40px;
	padding-bottom:40px;
}
.pack_title h2{
	font-family: 'Berkshire Swash', cursive;
	padding-bottom:17px;
	color: #002E5B;
}

.pack_title p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 11px;

}

.pack_part2{
	background:#F5D7D7;
}

.pack_part2{
	padding-top:40px;
	padding-bottom:40px;

}

.single_product img{
	border:2px solid #EC495E;
}

.single_pack img{

}

.single_pack h4{
	font-size:20px;
	border:1px solid #000;
}

.single_pack h3{
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
}

.pack_parts{
	padding-bottom:60px;
}

.apply_n_btn{
	background:#066633;
	font-size:23px;
	padding:10px 40px;
	border:none;
	border-radius:30px;
	color:#fff;
}

.left_benefit_part p{

font-size:18px;
	font-family: 'Open Sans', sans-serif;
}

.benefir_part{
	padding-top:50px;
	padding-bottom:70px;
	background:#2C96B3;
	color:#fff;

}

.for_padd{
	margin-top:30px;
}

.left_benefit_part h2{
	font-family: 'Berkshire Swash', cursive;
}

.left_bk_side{
	margin-top:40px;
}

.top_beaker_title h2{
	color:#FF8A09;
	padding-bottom:30px;
	font-size:44px;
	font-weight:800;
}

.bottom_paragraph p{
	color:#fff;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	padding-top:19px;
}

.first_point h4{
	font-size:22px;
	font-weight:bold;
	color:#002E5B;

}

.investor_special{
	padding-top:30px;
	padding-bottom:30px;
	background:#153C64;
	color:#fff;

}

.inner_special h3{
	font-size:32px;
	font-family: 'Montserrat', sans-serif;
	line-height:43px;

}

tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
	text-align:center;
	color:#F6921E;
}

.right-content-parts h4{
	color:#fff;

}

.for_marginss{
	margin-top:100px;

}

.lanch_title p{
	color:#fff;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:6px;

}
.third_part{
	margin-top:70px;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: red;
    border-color: red;
}
